* {
    box-sizing: border-box;
  }
  
  body {
    font-family:monospace;
    margin: 0;
  }

p {
  font-size: 20px;
}

body {font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
* {box-sizing: border-box;}

.hero-image{
  background-image:linear-gradient(180deg,#cc5500a8,linen);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:800px;
}

.hero-text{
  text-align: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #cc5500;
  text-decoration: none;
}

  #header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    color: #fff;
}

nav {
  display:flex;
  background-color: linen;
  box-sizing: border-box;
  width: 100%;
  border-top: solid #cc5500 1px;
}

nav a {
  color: #cc5500;
  padding: 15px 15px;
  text-decoration: none;
  text-align: center;
}
