* {
    box-sizing: border-box;
  }
  
  body {
    font-family:monospace;
    margin: 0;
  }

.hero-image{
    background-image: url("/assets/images/underthesea.jpeg");
    background-color: lightcyan;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:800px;
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(12, 79, 238);
  }

nav {
    display: flex;
    background-color: #0faeda8a;
  }

nav a {
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
  }

.buttons{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:flex;
    justify-content: space-evenly;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button1 {
    margin-right: 5px;
    background-color: white; 
    color: #0837f1; 
    border: 2px solid #0837f1;
    padding: 5px;
    text-decoration: none;
    font-size: large;
}
      
.button1:hover {
    background-color: #0837f1;
    color: white;
}
      
.button2 {
    margin-right: 5px;
    background-color: white; 
    color: #0837f1; 
    border: 2px solid #0837f1;
    padding: 5px;
    text-decoration: none;
    font-size: large;
}

.button2:hover {
    background-color: #0837f1;
    color: white;
}

.button3 {
    margin-right: 5px;
    background-color: white; 
    color: #0837f1; 
    border: 2px solid #0837f1;
    padding: 5px;
    text-decoration: none;
    font-size: large;
}

.button3:hover {
    background-color: #0837f1;
    color: white;
}